<div class="container-fluid footer_back mobile_res">
    <div class="row" style="    padding: 5vw 0 2vw;">
        <div class="main_div footer_copyright">
            <div class="row">
                <div class="col-md-3 col-sm-3 co-xs-12 cali_div">
                    <img class="wid_50" src="https://d6nu5pf1fk0po.cloudfront.net/img/Footer/LOGO.png?v=13">
                </div>
                <div class="col-md-5 col-sm-5 co-xs-12 foot_div1">
                    <p class="joinnew">Stay connected with Cali Mykonos.</p>
                    <form action="#" method="Post">
                        <input class="sub_in" type="text" name="text" placeholder="Enter your email">
                        <button type="button" class="btn btn-default sub_btn sub_pad">Subscribe</button>
                    </form>
                    <p class="bysub">By subscribing, you agree to our <a href="privacy.html" style="color: #222D48;     text-decoration: underline;">Privacy Policy</a> and provide consent to receive updates from our company.</p>
                </div>
                <div class="col-md-2 col-sm-2 co-xs-12 space-adj1">
                    <p class="joinnew">Site Map</p>
                    <ul class="footer_li">
                        <li><a class="color_bl" href="about.html">About</a></li>
                        <li>
                            <a class="color_bl" href="accomodation.html">Accommodations</a></li>
                        <li><a class="color_bl" href="experience.html">Experiences</a></li>
                        <li><a class="color_bl" href="dining.html">Dining</a></li>
                        <li><a class="color_bl" href="Athlesis.html">Athlesis</a></li>
                        <li><a class="color_bl" href="location.html">Location</a></li>
                        <li><a class="color_bl" href="Sustainability.html">Sustainability</a></li>
                        <li><a class="color_bl" href="press.html">Press</a></li>
                        <li><a class="color_bl" href="careers.html">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 co-xs-12 space-adj">
                    <p class="joinnew">Follow Us</p>
                    <ul class="footer_li">
                        <li><a class="color_bl" href="https://www.facebook.com/calimykonos/" target="_blank"><span><img src="https://d6nu5pf1fk0po.cloudfront.net/img/Footer/Facebook.png?v=13"></span>Facebook</a></li>
                        <li><a class="color_bl" href="https://www.instagram.com/calimykonos/" target="_blank"><span><img src="https://d6nu5pf1fk0po.cloudfront.net/img/Footer/Instagram.png?v=13"></span>Instagram</a></li>
                        <!-- <li><span><img src="https://d6nu5pf1fk0po.cloudfront.net/img/Footer/Twitter.png?v=13"></span>Twitter</li> -->
                        <li>
                            <a class="color_bl" href="https://www.linkedin.com/company/cali-mykonos/" target="_blank"><span><img src="https://d6nu5pf1fk0po.cloudfront.net/img/Footer/LinkedIn.png?v=13"></span>LinkedIn</a><span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer_back pad_mobile">
    <div class="" style="padding-bottom: 4%; width:100%">
        <div class="main_div">
            <div class="row">
                <div class="col-md-4 col-xl-4 col-sm-4 col-xs-12 pad_left0">
                    <p class="all_right">2022 Cali Mykonos. All rights reserved. </p>
                </div>
                <div class="col-md-8 col-xl-8 col-xs-12 col-sm-8 pad_right0">
                    <ul class="privacy_policy">
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li> <a href="Terms&Conditions.html">Terms of Service</a></li>
                        <li class="pad_rig4" style="padding-right: 0; float: right; text-align:right;"><a id="anccookiesettings" href="javascript:void(0)">Cookie Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>
</div>